.row {
  padding: 50px;
}

.psychedelic-purple {
  color: #D00EEA;
}

#main-well {
  background-color: grey;
  border-color: white;
  border-width: 5px;
}

body {
  background-color: black;
  font-family: "Futura";
}

p {
    font-size: 20px;
}

#heading {
    font-size: 50px;
}

#main-unordered-list {
    margin-bottom: 10px;
}